

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>


<input type="button" onclick="loadjs()" value="Loadjs">

<input type="button" onclick="demo()" value="Demo">

<input type="button" onclick="render()" value="Render">


<!--dynamically load js-->
<script>
function loadjs(){
    var js=document.createElement("script")
    //js.src="render.js"
    //js.src="test_load.js"
    js.src="test_cone.js"

    js.onload=() => alert ("Js loaded")
    js.onerror=() => alert ("Error loading JS")

    //append script tag to head
    document.head.appendChild(js)
}
</script>